@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --white: #ffffff;
    --light: #d6e2f0;
    --grey: #68778d;
    --dark: #1f3251;

    --outfit: 'Outfit', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    max-width: 100%;
    background-color: var(--grey);

    .card {
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        width: 375px;
        border-radius: 15px;

        .code {
            display: flex;
            flex-direction: column;

            img {
                padding: 5%;
                width: 100%;
                border-radius: 8%;
                
            }
        }

        .text {
            padding: 8%;
            font-family: var(--outfit);
            text-align: center;

            h1 {
                font-weight: 700;
                color: var(--dark);
            }

            p {
                font-size: 15px;
                font-weight: 400;
                color: var(--light);
                padding-top: 10%;
            }
        }

        .attribution {
            font-size: 11px;
            text-align: center;
            padding-bottom: 5%;
        }

        .attribution a {
            color: hsl(228, 45%, 44%);
            text-decoration: none;
        }
    }
}
